<h1>Hello World</h1>

<!-- This is Interpolation -->
<h2> Hii Everyone! My name is {{ name }}. </h2>

<!-- This is property binding -->
<button [disabled]="isDisabled">Click me</button>

<!-- This is event binding -->
<p>{{ value}}</p>
<button (click)="increament()">+</button>
<button (click)="decreament()">-</button>

<!-- This is two way binding -->
 <br/>
 <input type="text" [(ngModel)]="inputVal"/>
 <p>{{inputVal}}</p>

 <!-- This is if directive -->
<button *ngIf="IsLoggedIn" (click)="logout()">Logout</button>
<button *ngIf="!IsLoggedIn" (click)="login()">Login</button>

<!-- this is *ngFor directive -->
 <br><br>
 <div *ngFor="let user of users">
    <div>{{ user }}</div>
 </div>

 <div [ngSwitch]="counterVal">
    <div *ngSwitchCase="1">One</div>
    <div *ngSwitchCase="2">Two</div>
    <div *ngSwitchDefault>More Than two</div>
 </div>